[alias]
  # Ammend
  amend = commit --amend
  # Branch
  br = branch
  # Commit
  ci = commit
  # Clone
  cl = clone
  # Checkout
  co = checkout
  # Diff
  df = diff
  # Diff List (file oriented)
  dl = "!git ll -1"
  # Diff with cached?
  dlc = diff --cached HEAD^
  # Diff with staged
  ds = diff --staged
  # Log with diffs (file oriented)
  filelog = log -u
  # Alias for filelog
  fl = log -u
  # Commit graph
  graph = log --graph --pretty=format':%C(yellow)%h%Cblue%d%Creset %s %C(white) %an, %ar%Creset'
  # List git aliases
  la = "!git config -l | grep alias | cut -c 7-"
  # List date, user
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]%Creset" --decorate --date=relative
  # List short date, user
  lds = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]%Creset" --decorate --date=short
  le = log --oneline --decorate
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %C(green)(%cr)%Creset" --decorate --numstat
  lnc = log --pretty=format:"%h\\ %s\\ [%cn]"
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]\\ %C(green)(%cr)%Creset" --decorate
  purr = pull --rebase
  st = status
  standup = !"git log --no-merges --reverse --branches --since=$(if [[ "Mon" == "$(date +%a)" ]]; then echo "last friday"; else echo "yesterday"; fi) --author=$(git config --get user.email) --format=tformat:'%C(cyan) %ad %C(yellow)%h %Creset %s %Cgreen%d %Creset' --date=local"
  undo = reset --soft HEAD^
[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[core]
  editor = subl -w
  pager = less -r
  excludesfile = ~/.gitignore
[push]
  default = current
[sendemail]
  from = Brandon Marc-Aurele <bmarcaur@gmail.com>
  chainreplyto = false
  confirm = auto
  suppresscc = all
  smtpencryption = tls
  smtpserver = smtp.gmail.com
  smtpuser = bmarcaur@gmail.com
  smtpserverport = 587
[user]
  name = Brandon Marc-Aurele
  email = bmarcaur@gmail.com
[github]
  user = bmarcaur
[rerere]
	enabled = false
[merge]
	conflictstyle = diff3
